body{
    font-family: "Montserrat" ;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}
p{
    color: #8f8f8f;
}
/*Headings*/
.big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
font-size: 3rem;
    line-height: 1.5;
}
/*containers*/
.container-fluid{
    padding: 7% 15%;
}
/*sections*/
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/*Navigation bar*/

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
/*Download buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}
/*title-section*/
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/*Title image*/
.title-image{
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}
/*Feature section*/
#features{
    position: relative;
}
.feature-box{
    padding: 2%;
}
.icon{
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}
.feature-title{
    font-size: 1.5rem;
}
/*testimonials*/
#testimonials{
    background-color:#ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font-size: 1.5rem;
    line-height: 1.5;
}
/*pricing*/
#pricing{
    padding: 100px;
}
.proicing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
/*footer*/
.social-icon{
    margin: 20px 10px;
}
#footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   text-align: center;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
.about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about .content ul strong {
    margin-right: 10px;
  }
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
  }
  .contact .info i {
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
  }
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #0563bb;
    color: #fff;
  }
 